<section id="projects">
  {% if page.namespace != 'stylehub'%}
    <a href="/projects/8-stylehub.html" class="project-container project-container__whirlpool">
      <div class="project__description">
        <h2>Whirlpool Kitchen Stylehub</h2>
      </div>
    </a>
  {% endif %}
  {% if page.namespace != 'meltedradio'%}
    <a href="/projects/3-meltedradio.html" class="project-container project-container__melted">
      <div class="project__description">
        <h2>Melted Radio App</h2>
      </div>
    </a>
   {% endif %}
  {% if page.namespace != 'japanese-gardens'%}
    <a href="/projects/1-japanese.html" class="project-container project-container__anderson-gardens">
      <div class="project__description">
        <h2>Anderson Japanese Gardens Concept</h2>
      </div>
    </a>
  {% endif %}
  {% if page.namespace != 'chatme'%}
    <a href="/projects/5-chatme.html" class="project-container project-container__chatme">
      <div class="project__description">
        <h2>Chat Me App</h2>
      </div>
    </a>
  {% endif %}
  {% if page.namespace != 'divinonino'%}
    <a href="/projects/2-divino.html" class="project-container project-container__divino">
      <img src="/images/ball.png"/>
      <div class="project__description">
        <h2>Divino Nino site</h2>
      </div>
    </a>
   {% endif %} 
  </section>