*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

html, body {
  height: 100%;
  width: 100%;
}
/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

div.homepage-overflow {
  overflow-y: hidden;
}

section.intro-image {
  width: 50%;
  height: 100%;
  float: left;
  background-color: black;
}

section.intro {
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  padding: 40px 25px;

  h2 {
    margin: 0;
  }

  p {
    text-align: justify;
    padding: 15px 40px;
  }
}

.intro a {

  color: #2D46B9;
}
.intro a:hover {
  text-decoration: underline;
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  -ms-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

.intro p {
  line-height: 45px;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-title img {
    width: 40px;
    height: auto;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .page-link:hover {
       color: #2D46B9;
       -webkit-transition: color .3s ease-out;
       -moz-transition: color .3s ease-out;
       -o-transition: color .3s ease-out;
       -ms-transition: color .3s ease-out;
       transition: color .3s ease-out;
    }

    .current {
      color: #2D46B9;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            min-height: 35px;
            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    width: 87px;
    margin: 0 auto;
}

.social-media-list > li {
    display: inline-block;
}

.social-media-list > li:first-child {
    margin-right: 10px;
}

.social-media-list > li > a {
    display: inline-block;
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    width: 100%;
    height: 100%;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}


.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 25px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    li {
      list-style: none;
    }
}


.post-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
    margin-right: 2.3%;
    color: white;
    padding: 23px;
    line-height: 22px;
    width: 200px;
    height: 200px;
}

ul.post-ul {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: .8em;
  letter-spacing: 1.2px;
}

ul.post-ul a:last-child {
  margin-right: 0;
}

ul.post-ul a:hover {
  color: white;
  background-color: #2D46B9;
}

article.blog p, article.projects p  {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: .5px;
  line-height: 33px;
}

article.projects p, a.project-image img {
  margin-bottom: 40px;
}

h4.date {
  font-size: 15px;
}

article.blog, article.projects {
  width: 610px;
}



div.post-content a.button-src {
  display: block;
  width: 150px;
  height: 50px;
  background-color: #2D46B9;
  color: white;
  text-align: center;
  line-height: 50px;
}

div.dumbo-cover {
  text-align: center;

  h1 {
    margin-top: 150px;
    font-size: 28px;
  }
}

.column {
    float: left;
}

.column.full { width: 100%;}
.column.two-thirds { width: 66.7%;}
.column.half { width: 50%;}
.column.third { width: 33.3%;}
.column.fourth { width: 25%;}
.column.flow-opposite { float: right;}

.intro img {
  width: 12rem;
  display: block;
  margin: 0 auto;
  &:hover {
   -webkit-animation: trip-balls 3s infinite;
   -moz-animation: trip-balls 3s infinite;
   animation: trip-balls 3s infinite;
 }
}

@-webkit-keyframes trip-balls {
  0% {
    -webkit-filter: hue-rotate(90deg) saturate(100%);
  }
  25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%);
  }
  50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%);
  }
  75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%);
  }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%);
  }
  }
@-moz-keyframes trip-balls {}
@keyframes trip-balls {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(100%);
    filter: hue-rotate(0deg) saturate(100%); }
  25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%);
    filter: hue-rotate(90deg) saturate(400%); }
  50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%);
    filter: hue-rotate(180deg) saturate(400%); }
  75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%);
    filter: hue-rotate(270deg) saturate(400%); }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%);
    filter: hue-rotate(360deg) saturate(100%); } }


// responsive media queires

@media only screen and (max-width: 1100px) {

  section.intro {
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

}

@media only screen and (max-width: 998px) {

  a#post-2 {
    margin-right: 0;
  }

  ul.post-ul {
    width: 458px;
    margin: 0 auto;
  }

  .post-container {
    margin-right: 4.2%;
    margin-bottom: -10px;
  }

  a#post-3, a#post-4 {
    margin-bottom: 20px;
  }

  div.intro {
    margin: 0 auto;
    width: 80%;
  }

}

div.form-container {

  text-align: center;
  margin: 0 auto;
  width: 80%;
  form input, textarea {
    border: 1px solid #dfe0e6;
    border-radius: 2px;
    padding: 6px 10px;
    height: 35px;
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    -webkit-border-radius: 2px;
    margin-bottom: 20px;
    font-size: 13px;
    letter-spacing: .6px;
   }

   textarea {
     height: 200px;
   }

   form input[type="submit"] {
     background-color: #2D46B9;
     color: white;
     border: none;
     height: 50px;
     &:focus {
       outline: none;
     }
     &:hover {
       background-color: #445cc8;
     }
   }
}

@media only screen and (max-width: 671px) {

  nav.site-nav {
    font-size: .9rem;
  }

}

@media only screen and (max-width: 653px) {

  article.blog, article.projects {
    margin: 0 auto;
    width: 500px;
  }

}

@media only screen and (max-width: 640px) {

  .post-container {
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
    clear: both;
  }

  ul.post-ul {
    width: 219px;
  }
}

@media only screen and (max-width: 530px) {

  article.blog, article.projects {

    width: 400px;
  }

  div.intro {
    width: 300px;
    font-size: 20px;
  }

}

@media only screen and (max-width: 435px) {

  article.blog, article.projects {

    width: 85%;
    min-width: 240px;
  }

}
