@font-face {

  font-family: 'plexi-font';
  src: url('../webfonts/plexifont.ttf'); /* IE9 Compat Modes */
  src: url('../webfonts/plexifont.ttf') format('truetype');

}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

#main-content {
  display: none;
}

/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    height: 70px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    // Positioning context for the mobile navigation icon
    position: absolute;
    width: 100%;
    background-color: white;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; /* Safari 6.1+ */
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  height: 100vh;
  min-height: 550px;
  &__container {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; /* Safari 6.1+ */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    ul {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex; /* Safari 6.1+ */
      display: flex;
      flex-flow: row wrap;
      -webkit-flex-wrap: wrap; /* Safari 6.1+ */
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      li {
        padding: 10px;
        a {
          display: block;
          color: yellowgreen;
          cursor: pointer;
          font-family: 'share-techmono';
          font-size: 1.2rem;
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
}

section.intro-left, section.intro-right {
  flex: 1 1 50%;
  min-height: 500px;
}

section.intro-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; /* Safari 6.1+ */
  display: flex;
  justify-content: center;
  background-color: black;
  position: relative;
  h1 {
    color: yellowgreen;
    margin-top:100px;
    font-family: 'plexi-font';
    font-size: 11rem;
    transform: skewY(20deg);
    line-height:1;
  }
}

div#intro-image-text {
  margin-top: 70px;
  h2 {
    margin-top: 15px;
  }
}

.intro a {

  color: #2D46B9;
}
.intro a:hover {
  text-decoration: underline;
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  -ms-transition: color .3s ease-out;
  transition: color .3s ease-out;
}

.intro p {
  line-height: 45px;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-title img {
    width: 40px;
    height: auto;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
        position: relative;
        z-index: 5
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .page-link:hover {
       color: #2D46B9;
       -webkit-transition: color .3s ease-out;
       -moz-transition: color .3s ease-out;
       -o-transition: color .3s ease-out;
       -ms-transition: color .3s ease-out;
       transition: color .3s ease-out;
    }

    .current {
      color: #2D46B9;
    }
    div#mobile-menu {
      display: none;
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        // border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            font-size: 2rem;
            color: black;
            display: block;
            float: right;
            line-height: 0;
            text-align: center;
            min-height: 35px;
            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
            img {
              width: 35px;
            }
        }
        .menu-icon:hover {
          color: #2D46B9;
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {

            // display: block;
            // padding-bottom: 5px;
        }

        #close-icon {
          display: none;
        }
        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    width: 87px;
    margin: 0 auto;
}

.social-media-list > li {
    display: inline-block;
}

.social-media-list > li:first-child {
    margin-right: 10px;
}

.social-media-list > li > a {
    display: inline-block;
}
.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}
.wrapper-other {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  max-width: calc(950px - (30px));
}

article.wrapper-other, article.post.projects.wrapper-other {
  margin-top: 100px;
}
.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    width: 100%;
    height: 100%;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}


.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 25px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    li {
      list-style: none;
    }
}


.post-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
    margin-right: 2.3%;
    color: white;
    padding: 23px;
    line-height: 22px;
    width: 200px;
    height: 200px;
}

ul.post-ul {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: .8em;
  letter-spacing: 1.2px;
  li {
    position: relative;
    margin: 0 auto;
    padding: 0px;
    margin-bottom: 30px;

    a {
      position: relative;
      margin: 0 auto;
      display: block;
    }

  }
}

div.project-text {
  display: none;
  position: absolute;
  margin: 0 auto;
  top: calc(50% - 43.5px);
  left: 0;
  right: 0;
  text-align: center;
  width: 95%;
  z-index: 3;
}

a.image-project:after {
  content: "";
  color:#fff;
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  text-align: center;
  font-size: 20px;
  padding: 0;
  background:rgba(0,0,0,0.8);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

a:hover:after {
    opacity:1;
}

ul.post-ul a:hover {

  div.project-text {
    display: block;
  }
  color: white;
  background-color: #2D46B9;
}

article.blog p, article.projects p  {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: .5px;
  line-height: 33px;
}

article.projects p, a.project-image img {
  margin-bottom: 40px;
}

h4.date {
  font-size: 15px;
}

article.blog, article.projects {
  width: 610px;
}

div.post-content a.button-src {
  display: block;
  width: 150px;
  height: 50px;
  background-color: #2D46B9;
  color: white;
  text-align: center;
  line-height: 50px;
}

div.dumbo-cover {
  text-align: center;

  h1 {
    margin-top: 150px;
    font-size: 28px;
  }
}

.column {
    float: left;
}

.column.full { width: 100%;}
.column.two-thirds { width: 66.7%;}
.column.half { width: 50%;}
.column.third { width: 33.3%;}
.column.fourth { width: 25%;}
.column.flow-opposite { float: right;}

.intro img {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  min-width: 172px;
  &:hover {
   -webkit-animation: trip-balls 3s infinite;
   -moz-animation: trip-balls 3s infinite;
   animation: trip-balls 3s infinite;
 }
}

@-webkit-keyframes trip-balls {
  0% {
    -webkit-filter: hue-rotate(90deg) saturate(100%);
  }
  25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%);
  }
  50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%);
  }
  75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%);
  }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%);
  }
  }
@-moz-keyframes trip-balls {}
@keyframes trip-balls {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(100%);
    filter: hue-rotate(0deg) saturate(100%); }
  25% {
    -webkit-filter: hue-rotate(90deg) saturate(400%);
    filter: hue-rotate(90deg) saturate(400%); }
  50% {
    -webkit-filter: hue-rotate(180deg) saturate(400%);
    filter: hue-rotate(180deg) saturate(400%); }
  75% {
    -webkit-filter: hue-rotate(270deg) saturate(400%);
    filter: hue-rotate(270deg) saturate(400%); }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(100%);
    filter: hue-rotate(360deg) saturate(100%); } }


// responsive media queires
@media only screen and (min-width: 1100px) {
  section.intro div#intro-image-text {
    p {
      max-width: 600px;
      margin: 0 auto;
    }

    img {
      max-width: 308px;
    }
  }
}
@media only screen and (max-width: 1100px) {

  section.intro {
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

}

@media only screen and (min-width: 998px) {
    div.project-text {
      font-size: 25px;
      top: calc(50% - 70.5px);
    }
}

@media only screen and (max-width: 998px) {

  div#intro-image-text {

    font-size: 1.1rem;

    img {
      width: 40%;
      height: auto;
    }

    p {
      font-size: .9rem;
      line-height: 2.3rem;
      padding: 10px 10px;
    }

  }

  a#post-2 {
    margin-right: 0;
  }

  ul.post-ul {
    width: 458px;
    margin: 0 auto;
  }

  .post-container {
    margin-right: 4.2%;
    margin-bottom: -10px;
  }

  a#post-3, a#post-4 {
    margin-bottom: 20px;
  }

  div.intro {
    margin: 0 auto;
    width: 80%;
  }

}

div.form-container {

  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 150px;
  form input, textarea {
    border: 1px solid #dfe0e6;
    border-radius: 2px;
    padding: 6px 10px;
    height: 35px;
    width: 100%;
    max-width: 450px;
    min-width: 200px;
    -webkit-border-radius: 2px;
    margin-bottom: 20px;
    font-size: 13px;
    letter-spacing: .6px;
   }

   textarea {
     height: 200px;
   }

   form input[type="submit"] {
     background-color: #2D46B9;
     color: white;
     border: none;
     height: 50px;
     &:focus {
       outline: none;
     }
     &:hover {
       background-color: #445cc8;
     }
   }
}
@media only screen and (max-width: 799px) {
  ul.post-ul {
    font-size: .8em;
  }

  div.project-text {
    font-size: 20px;
  }

  div.project-text {
    font-size: 15px;
    top: calc(50% - 48px);
  }
}
@media only screen and (max-width: 750px) {

  section.intro {
    margin: 0 auto;
    width: 100%;
    float: none;

  div#intro-image-text img {
    width: 30%;
  }

  div#intro-image-text p {
       margin: 0 auto;
       width: 500px;
       font-size: 1rem;
    }
  }

}

@media only screen and (max-width: 600px) {
  div#site-menu {
    display: none;
  }
}

@media only screen and (max-width: 671px) {

  nav.site-nav {
    font-size: .9rem;
  }

}

@media only screen and (max-width: 653px) {

  div.project-text {
    font-size: 8.5px;
    top: calc(50% - 28px);
  }

  article.blog, article.projects {
    margin: 100 auto;
    width: 500px;
  }

}

@media only screen and (max-width: 640px) {

  .post-container {
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
    clear: both;
  }

  ul.post-ul {
    width: 219px;
  }
}

@media only screen and (max-width: 545px) {


  article.blog, article.projects {
    width: 400px;
  }

  div.intro {
    width: 300px;
    font-size: 20px;
  }

}

@media only screen and (max-width: 533px) {

    section.intro div#intro-image-text p {
        width: 300px;
    }
}

@media only screen and (max-width: 435px) {

  article.blog, article.projects {

    width: 85%;
    min-width: 240px;
  }

  section.intro div#intro-image-text {

    img {
      width: 40px;
      height: auto;
    }
    p {
      font-size: .85rem;
    }
  }

}

@media only screen and (max-width: 335px) {

 section.intro div#intro-image-text p {
     width: 280px;
     line-height: 25px;
 }
}
