.site-header {
  display: none;
}
.barba-container {
  height: 100%;
  position: relative;
}
.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 10px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    pointer-events: visiblePainted;
    transform-origin: 0 0;
    transform: translate3d(-50%,0,0) scaleY(1);
    transition: transform 1s;
    &__lines {
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      height: 100%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      &_animated:before {
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-animation-name: g;
        animation-name: g;
        -webkit-animation-duration: 3.5s;
        animation-duration: 3.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(.25,0,.25,1);
        animation-timing-function: cubic-bezier(.25,0,.25,1);
      }

      &_animated:after {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-animation-name: h;
        animation-name: h;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 3.5s;
        animation-duration: 3.5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(.25,0,.25,1);
        animation-timing-function: cubic-bezier(.25,0,.25,1);
      }

      &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: yellowgreen;
      }
    }
}
#about-me {
  margin: 0 auto;
  min-height: 400px;
  max-width: 960px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'share-techmono';
  font-size: 4rem;
  padding: 0 30px;
  h2 {
    font-weight: 400;
    line-height: 80px;
    text-align: center;
  }
}

.projects {
  display: flex;
  flex-flow: row wrap;
  .project__description {
    z-index: 3;
  }
  .project-container {
    position: relative;
    flex: 1 1 50%;
    min-height: 400px;
    min-width:350px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-family: 'share-techmono';
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    line-height: 1.1;
    padding: 20px;
    color: white;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      z-index: 1;
    }
    &:hover:before {
      display: none;
    }
    &__whirlpool {
      background-color: #DAD89C;
      &:hover {
        transition: color .4s ease-in-out;
        color: black;
      }
    }
    &__chatme {
      background-color: #E69F94;
      &:hover {
        transition: color .4s ease-in-out;
        color: black;
      }
    }
    &__melted {
      background-image: url(../images/melted_project_cover.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      &:hover {
        transition: color .4s ease-in-out;
        color: black;
      }
    }
    &__anderson-gardens {
      color: white;
      background-image: url(../images/koi_cover.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      &:hover {
        transition: color .4s ease-in-out;
        color: yellowgreen;
      }
    }
    &__divino {
      position: relative;
      background-image: url(../images/background_tile.png);
      img {
        position: absolute;
        display: block;
        width: 30%;
        top: 30%;
        left: 10px;
        height: auto;
      }
      &:hover {
        transition: color .4s ease-in-out;
        color: black;
      }
    }
    &__experiments {
      background-image: url(/images/experiments_backup.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;
      canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

      }
      &:hover {
        transition: color .4s ease-in-out;
        color: yellowgreen;
      }
    }
   }
}

.intro-right {
  background-image: url(../images/javi_portrait_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &-image {
    background-color: black;
  }
}

.project {
  &__title {
    font-size: 60px;
    text-align: center;
    line-height: 1;
  }
  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    height: inherit;
    max-width: 900px;
    padding: 0 20px;
    margin: 50px auto 50px auto;
  }
  &__left {
    flex: 1;
    font-size: 1.3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  &__imgs {
    padding-bottom: 40px;
    img {
      margin: 0px auto 30px auto;
      display: block;
      border: 0;
    }
  }
  &__nav {
    position: fixed;
    top: 20px;
    left: 30px;
    font-size: 1rem;
    &__home {
      font-style: italic;
      text-decoration: line-through;
    }
    .prev, .next {
      border: 1px solid blue;
      padding: 5px;
    }
    .prev {
      margin-right: 5px;
    }
    .next {
      margin-left: 5px;
    }
  }
}

.video-responsive{
    padding-bottom:56.25%;
    position:relative;
    width: 100%;
    min-width: 430px;
    iframe {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
      padding-bottom: 30px;
    }
}

@media only screen and (max-width: 1156px) {
  #projects_nav {
    display: none;
  }
  .project {
    &__nav {
      position: absolute;
      top: initial;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
    }
  }
}


@media only screen and (max-width: 1049px) {
  section.intro-left {
    h1 {
      font-size: 8rem;
    }
  }
}


@media only screen and (max-width: 763px) {
  section.intro-left {
    h1 {
      font-size: 10rem;
    }
  }
  section.intro-right {
    display: none;
  }
  #about-me {
    font-size: 3rem;
  }
  #projects {
    .project-container {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 483px) {
  section.intro-left {
    h1 {
      font-size: 7rem;
    }
  }
  .video-responsive{
      min-width: 289px;
  }
  #about-me {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 363px) {
  section.intro-left {
    h1 {
      font-size: 6rem;
    }
  }
  #about-me {
    font-size: 2rem;
  }
}
