---
layout: default
---

<!-- #1 -->
<form action="https://getsimpleform.com/messages?form_api_token=949cbcb4aae86df8b4b89d418b3cd826" method="post">
  <input type='hidden' name='redirect_to' value='https://javierforero.github.io/' />
  <input type='text' name='name' placeholder='Your Full Name' />
  <input type='email' name='email' placeholder='Your E-mail Address' />
  <textarea name='message' placeholder='Write your message ...'></textarea>
  <input type='submit' value='Send Message' />
</form>
