<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="page-content clearfix homepage-overflow">
        {% include header.html %}
        {{ content }}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/83/three.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/OrbitControls.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/perlin.js"></script>
    <script src="../js/threed.js"></script>
 </body>

</html>
